# Configuración del servidor
PORT=3000
NODE_ENV=development

# Configuración de la base de datos
DB_HOST=localhost
DB_PORT=3306
DB_NAME=erp_municipal
DB_USER=root
DB_PASS=andriu1472

# Configuración de JWT
JWT_SECRET=secreto_super_seguro_cambiar_en_produccion
JWT_EXPIRES_IN=24h

# Configuración de logs
LOG_LEVEL=info

# Configuración de rutas
UPLOADS_DIR=uploads
PDF_DIR=uploads/pdf